 
 *{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
.Navbar{
    background-color: black;
    display:flex;
    padding:auto;
    position:fixed;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.home{
    padding-right:10px;

}
.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    display:flex;
    padding-right:10px;
}
.logo:hover{
    background-color: rgb(74, 68, 68);
    
}
.text{
    color:white;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text:hover{
    background-color: rgb(74, 68, 68);
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    background-color: black;
    font-size: 14px;
    color:aliceblue
}
.logo{
    color:white
}
.nme1{
    padding-left: 20px;
    text-align: center;

}
.nme2{
    padding-left: 20px;
    text-align: center;
}
.nme3{
    padding-left: 20px;
    text-align: center;
}
.nme4{
    padding-left: 20px;
    text-align: center;
}
.nme5{
    padding-left: 20px;
    text-align: center;
}

.Bgimage img {
    display:block;
    width:100%;
    height:600px;
    padding:auto;
}
.overlay-text {
    position: absolute;
    z-index:1;
    top: 90%; 
    left: 10%;
    bottom:10%;
    color:white;
    
    
}
.team h1 {
    text-align: center;
    padding-top:60px;
    padding-bottom: 10px;
}
.team p{
    text-align: center;;
}
.container{
    display:grid;
    padding: auto;
    grid-template-columns: repeat(4,1fr);

}

.photo{
    width: full;
    padding:50px 50px 50px 50px;
    border-radius: 50%;
    object-fit: cover;
}
.photo>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.midpart{
    background-color: rgb(63, 60, 60);
    width:full;
    height:600px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}
.cart1{
    width:100%;
    height:400px;
}
.cart1 h3{
    color:aliceblue;
    font-style:inherit;
    font-family: Arial, Helvetica, sans-serif;

}
.cart1 h1{
    color:aliceblue;
}
.cart{
    background-color: aliceblue;
    width:100%;
    height:500px;
   
}
.customer img{
    width:100%;
    height:100%;
}

table{
    border: 0.5px solid black;
    border-collapse: collapse;
}
td{
    border: 0.5px solid lightgrey;
    padding: 10px 150px 10px 150px;
}
tr{
    text-align: center;
    font-size: 20px;
    
}
th{
    background-color: rgb(33, 35, 35);
    color: aliceblue;
    padding: 30px 0 30px 0;
    
}

 td>button{
    border:0px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #009688;
 }
 td>button:hover{
    background-color: #ccc;
 }
 #container01{
    padding: 70px;
    width: full;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
 }
 .panel{
    width: 100%;
 }


.cusdiv1{
    padding:20px;
    padding-top:5px;
    text-align: center;;

}
.newbox{
    background-color: white;
    width: 100%;
    height:130px;
}
.pricing{
    margin-top:50px;
    text-align:center;
}

.footerbox1 h3{
    text-align: center;
    padding: 7px;

}
.dollar h1{
    text-align: Center;
}

.button1{
    align-items: center;
    text-align: center;
    margin-top:10px;
    background-color: pink;
    margin-left:150px;
    margin-right:150px;

}
.button:hover{
    background-color:blue;
    
}

.cart-img2{
    width:400px;
    height:400px;
    border:2px  black;
    background-color : grey;
    margin:30px;
}
.cart-img3{
    width:400px;
    height:400px;
    border:2px black;
    background-color: grey;
    margin:30px;
    margin-right:30px;
}
.contactus{
    display:flex;
    background-color: #f0f0f0;
    height:500px;
    width:100%;
    padding-bottom:30px;
}
.adress{
    margin:30px;
    width:500px;


}
.details{
    margin:40px;
    background-color: white;
    width:700px;
    display:box;
    box-shadow:0px 0px 15px  rgba(0, 0, 0, 0.3);
    
}
.name1{
    padding:30px;


}
.name2{
    padding:30px;
    display:flex;
}
.checkbox{
    transform: scale(2);
    margin: 8px;
    cursor: pointer;
}
.swing{
    padding:0px;
}

.roadimage img{
    
    width:100%;
    height:600px;
    padding:auto;
    display:block;
}
.Black{
    width:100%;
    height:200px;
    background-color: black;
}
.Black>p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#dropdown{
    background-color: blue;
}
#services{
    border:none;
    height:40px;
    width:120px;
    padding-left:2px;
    padding-right:2px; 
    background-color: black; 
    color:white;
    font-size: medium;
}
#services:hover{
    background-color: rgb(74, 68, 68);
}
.social-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-btns a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.fb { background-color: #009688; text-decoration: none;}
.twitter { background-color: #009688; text-decoration: none; }
.google { background-color: #009688; text-decoration: none;}
.instagram { background-color: #009688; text-decoration: none;}
.linkedin { background-color: #009688; text-decoration: none;}
.social-btns a:hover {
    opacity: 0.9;
}